/* Remove user agent stylesheet */
* { padding: 0; margin: 0; }
html {width: fit-content;}

/* header.php */
#header_content {
    display: flex; justify-content: space-between;
    padding: 5vh 10vw;
}
#menu_bar {
    display: flex; justify-content: center;
    height: 60px;
    background-color: #217645; font-size: 20px; 
}
#menu_bar .menu_div {
    display: flex; justify-content: space-between;
    position: relative;
    width: 70%;
}
#menu_bar .menu_div div { display: inline absolute; margin-top: 15px; color: white;}


/* footer.php */
#footer_content {
    display: flex; justify-content: space-between;
    bottom:0; left:0; right: 0; /*뷰포트 상에서 하단고정인 상태. 스크롤과 상관 없음.*/
    width: 100vw; height: 100px; 
    background-color: #684626; color: white;
}
#footer_content div {
    width: 25vw;
    padding: 0 50px;
}
#footer_content div#copyright { transform: translate(20%, 0);}
#footer_content div div:nth-child(1) {font-weight: 600;}

