/* main_content style */
#main_content {
    position: relative; width: 1000px; height: 700px; margin: 20px auto;
}

/* review_box style */
#review_box { width: 600px; height: 100%; margin: 0 auto; }
#review_box h2 {margin: 20px 0;}
#review_box #review_content {
    display: flex; flex-direction: column; justify-content: space-between;
    box-shadow: 0 0 0 1px #dbdbdb;
    height: 80%; width: 100%; 
    padding: 15px; 
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
#review_box .info { width: 100%; font-weight: 600; color: #303030; }
#review_box .info .user,.title,.store,.menu,.title,.content,span,.grade,.pub_date,.hit { 
    width: 100%; font-weight: 400; color: #303030; 
}
#review_box .info .text { padding: 1px 0; }

/* button style */
#review_box .buttons { display: flex; justify-content: center;}
#review_box .buttons .button { margin: 4px 8px; width: 45%; }
#review_box .buttons .button.list { margin: 4px 8px; background-color: #ac8243; }
.button {
    padding: 15px 30px;
    background-color: #217645; color: #ffffff;
    border: none; border-radius: 4px;
    text-align: center;
    font-size: 0.875rem; font-weight: 400;
    cursor: pointer;
}